<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153643428170-5rcbmpdq6v3ubktndmjfdt9vdeqq239s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153643428170-5rcbmpdq6v3ubktndmjfdt9vdeqq239s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>153643428170-iur3bqk9bi59dkkqq6uspsnni1ll6ova.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv8b_S5HY-jaIh37nJLiEY7dFRXnITq5I</string>
	<key>GCM_SENDER_ID</key>
	<string>153643428170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicapp.musicApp</string>
	<key>PROJECT_ID</key>
	<string>music-app-7d5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>music-app-7d5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153643428170:ios:e59976673367d9217079b3</string>
</dict>
</plist>